.add-new-menu-container {
        position: relative;
        display: inline-block;
}
.menu-container{
    position: absolute;
    top:140%;
    width: 130px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 1000;
    border: 1px solid #E5E7EB;
}

.menu-list{
    list-style-type: none;
    border-radius: 5px;
    padding: 5px;
}
.create-new{
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}
.create-new:hover{
    background-color: #dddddd;
    border-radius: 2px;
}
