.add-new-menu-container {
    width: 300px;
    position: relative;
}
.menu-container{
    position: absolute;
    display:flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 1000;
    border: 1px solid #E5E7EB;
}
.add-new-button{
    background-color: #4F8A8B;
    color: #dddddd;
    border: 0;
    height: 30px;
    border-radius: 10px;
}
.menu-list{
    font-size: 14px;
    border-radius: 5px;
    text-align: left;
}
.create-new{
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}
.create-new:hover{
    background-color: #dddddd;
    border-radius: 2px;
}
