html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}
.container{
    display:flex;
    background-color: aliceblue;
    gap: 0;

}
/*Header*/
header{
    display: flex;
    background-color: aliceblue;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
img{
    width:50px;
    height:50px;
}
.search-box{
    width: 500px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.home-main-content{
    display:grid;
    grid-template-columns: 1fr 5fr;
    height: calc(100vh - 100px); /* Main content fills the remaining height */
}

/*aside nav*/
.aside-nav{
    display: flex;
    background:aliceblue;
    padding:50px;
    padding-top: 20px;
    margin:0;
}
.aside-button{
    width:100%;
    padding-top: 10px;
    padding-left:10px;
    border-bottom:1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.aside-button:hover {
    background-color: #eedfcc;
    color: #333;
}

/*file-display*/
.main-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: snow;
    padding-top: 20px;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.first-row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 80%;
    gap: 10px;
    margin-bottom: 20px;
    align-self: flex-start;
    margin-left: 120px;
}
.folder-path{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


.file-table {
    width: 1000px;
    border-collapse: collapse;
}

.file-header {
    background-color: #f4f4f4;
    text-align: left;
}

.file-header th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.file-data td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.file-data{
    cursor: pointer;
    transition: background-color 0.3ms ease;
}
.file-data:hover{
    background-color: lightgray;
}
.file-data:active {
    background-color: #e0e0e0;
}
.file-data td {
    white-space: normal; /* new line */
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 200px;
}
